

body{
    font-family: 'atlas',sans-serif;
    direction: rtl;
    line-height: 1.2;
    font-size: 21px;
}

.header {
    height:50px;
   

   
     background-color: #719f45;
}
.page-header{
    text-align: center;
    background-color: #719f45;
     margin:0px auto;
     border:1px solid #CCC;
    color: white;
}
.text_formt{
        font: 1em Arial,Helvetica;
    width: 65%;
    margin: 0 auto;
    margin-top: 64px;
    text-align:right;
    font-size: 16px;
    color: #719f45;

}
.formsend-wrapper{
    background-color: #efefef;
    padding: 20px;
    border: 1px solid #dedede;
    width: 400px;
    margin: auto;
    text-align: right;
}
.FormText{
    font-size: 16px;
       
}
.form-group{
    color: #4d4d4d;
    font-size: 30px;
    text-align: right;
     font: 1em Arial,Helvetica;
}

.importantmassege{
    color: rgb(255, 0, 0);
}
.inoticed{
    color: rgb(0, 128, 0); 
    font-size: 14px;
}
.submitInput{
        background-color: #eb9632;
    border: 0;
    background-image: url("http://simages.ravpages.co.il/xsites/images/btn_overlay.png") !important;
        font-size: 30px;
    font-family: 'atlas',sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
}
#submitter{
   text-align: center;
}
